
  body {
       margin: 10%;
  }
  #navbar{
      background-color:dimgray ;
      display: flex;
      justify-content: space-evenly; 
      align-items: center;
  }
#navbar a{
    color: ghostwhite;
}
  .bg1 
  {
    background-image: url ("background.jpg" );
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg2 
  {
    background-image: url ("background.jpg" );
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  a:link {
    color:rgb(89, 10, 109);
  }
  
  
  a:hover {
    color:rgb(0, 255, 55);
  }
  
 
  a:active {
    color: rgb(2, 2, 37);
  }
/* This is how to target ALL of your HTML code */

h1 {
    color:  rgb(114, 100, 237);
    font-size: 60px;
 }


  
  a:link {
    color:rgb(89, 10, 109);
  }
  
  
  a:hover {
    color:rgb(0, 255, 55);
  }
  
 
  a:active {
    color: rgb(2, 2, 37);
  }
/* This is how to target ALL of your HTML code */

h1 {
    color:  rgb(114, 100, 237);
    font-size: 60px;
 }

.indigo{
    text-align: center;
}


/* This is how to target a class.*/
#gallery {
    display: flex;
    justify-content: center ;
    align-items: center;
    
  }



 .large {
    font-size: 30px;
}

.blue {
    background-color: rgb (147,147, 248) ;
}
